{{#checkbox}}
<div class="form-group {{checkboxContainer}}">
<label class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input {{css}}" {{checked}} />
  <div class="custom-control-indicator"></div>
  <span class="custom-control-description">{{{ label }}}</span>
</label>
</div>
{{/checkbox}}
