<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #3BBC57;"></span>
		<span class="sg-label">
            $color-utility-positive <br />
            #3BBC57
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FBE407;"></span>
		<span class="sg-label">
			$color-utility-caution <br />
			#FBE407
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E84524;"></span>
		<span class="sg-label">
			$color-utility-negative <br />
			#E84524
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4A90E2;"></span>
		<span class="sg-label">
			$color-utility-neutral <br />
			#4A90E2
		</span>
	</li>
</ul>
