{{> organisms-header }}
	<main role="main">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-ml-12 col-xl-9 col-xl-p-right">
					<div class="content-header">
						<h1 class="page-title">
							{{pageTitle}}
						</h1>
						{{> molecules-content-nav }}
					</div>
					{{> organisms-video }}
					{{> organisms-lesson-plans }}
				</div>
			<div class="col-xs-12 col-ml-12 col-xl-3 col-xl-p-left">
				{{> organisms-info}}
			</div>
			<div class="col-xs-12 col-ml-12 col-xl-9 col-xl-p-right">
				{{# relatedContent }}
					{{> organisms-section-grid-load-more }}
				{{/ relatedContent }}
			</div>
		<div class="col-xs-12 col-ml-12 col-xl-3 col-xl-p-left">
			{{> organisms-section-events-block }}
		</div>
		</div>
		</div>
	</main>
{{> organisms-footer }}
