<div class="btn-group">
  <input id="text" type="text" type="{{textFieldType}}" class="form-control" placeholder="{{ textFieldPlaceholder }}" {{ textFieldRequired }}>
  <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
</div>
