{{> organisms-header }}
	<main role="main">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-ml-12 col-xl-9 col-xl-p-right content-main">
					<div class="content-header">
						<h1 class="page-title">
							{{pageTitle}}
						</h1>
						{{> molecules-content-nav }}
					</div>
					{{> organisms-video }}
					{{> organisms-lesson-plans }}
				</div>
			<div class="col-xs-12 col-ml-12 col-xl-3 col-xl-p-left">
				{{> organisms-info}}
			</div>
			<div class="col-xs-12 col-ml-12 col-xl-9 col-xl-p-right">
				{{# relatedContent }}
					{{> organisms-section-grid-load-more }}
				{{/ relatedContent }}
			</div>
		<div class="col-xs-12 col-ml-12 col-xl-3 col-xl-p-left">
			{{> organisms-section-events-block }}
		</div>
		</div>
		</div>
	</main>
{{> organisms-footer }}

<h3 class="popover-title hidden video-download-title">Download</h3>
<div class="hidden video-download-content">
	<ul class="nav">
	  <li class="nav-item"><a href="#">320x240 - MP4 - 2mb</a></li>
	  <li class="nav-item"><a href="#">640x480 - MP4 - 5mb</a></li>
	  <li class="nav-item"><a href="#">1024x768 - MP4 - 10mb</a></li>
	</ul>
</div>

<h3 class="popover-title hidden video-embed-title">Embed</h3>
<div class="hidden video-embed-content">
  <div>
    <b>Example popover #2</b> - content
  </div>
</div>
