.callToAction {
  font-size:$font-size-xs;

  @media(min-width: $breakpoint-sm) {
    font-size:$font-size-base;
  }
  background:$brand-yellow;
  width:100%;
  padding:.75rem 0rem;
  @media(min-width: $breakpoint-lg) {
    padding:.5rem 0;
  }
  .callToAction__copy {
    font-weight:200;
    align-self: center;
    flex-grow:2;
    padding-right:1rem;
    @media(min-width: $breakpoint-xl) {
      display:flex;
    }
  }
  .callToAction__nav {
    align-self: center;
    margin-left:auto;
    .btn {
      margin:.25rem 0;
    }
  }
  .callToAction__link {
    border-bottom:dotted 1px $brand-grey;
    float:none;
    font-weight:400;
    margin-left:auto;
  }
  .btn {
    &:hover {
      color:black;
    }
  }
}
