.callToAction {
  font-size:$font-size-xs;

  @media(min-width: $breakpoint-sm) {
    font-size:$font-size-base;
  }
  background:$brand-yellow;
  width:100%;
  padding:0.8rem 0;
  .callToAction__copy {
    font-weight:200;
    padding-right:90px;
  }
  .callToAction__nav {
    position:absolute;
    top:-5px;
    right:13px;
  }
  .callToAction__link {
    border-bottom:dotted 1px $brand-grey;
    float:none;
    font-weight:400;

    @media(min-width: $breakpoint-lg) {
      float:right;
    }
  }
  .btn {
    &:hover {
      color:black;
    }
  }
}
