.grid-nav {
  display:none;
  @media(min-width: $breakpoint-xl) {
    display:block;
  }
  padding:.25rem;
  border-top:solid 1px $gray-lighter;
  border-bottom:solid 1px $gray-lighter;
  font-size:0.95rem;
  .form-inline {
    display:flex;
    align-items: center;

    width:100%;
  }
  .form-group {
    label {
      margin-right:.5rem;
    }
  }
  .pagination-group {
    margin-left:2rem;
  }
  .grid-nav-item {
    margin:0 .5rem;
    position:relative;
    a {
      color:$gray;
    }
    &:hover {
      a {
        border-bottom:solid 2px $gray;
        color:black;
      }
    }
    &.active {
      a {
        border-bottom:solid 2px red;
        color:black;
      }
    }
  }
  .display-group {
    .form-group {
      margin-top:-4px;
      margin-right:0.5rem;
      border-right:solid 1px $gray-lighter;
      padding-right:0.5rem;
    }
    .page-item:last-child {
      margin-right:0;
    }
    .list-mode {
      li:last-child {
        position:relative;
        &:after {
          content:"";
          height:2rem;
          width:1px;
          position:absolute;
          left:-.6rem;
          top:-.25rem;
          background:$gray-lighter;
          transform:rotate(10deg);
        }
      }
    }
    margin-left:auto;
    display:block;
   }
   &:last-child {
     border-bottom:none;
   }
   &:nth-of-type(1) {
     border-top:none;
   }
}
