.grid-nav {
  display:none;
  @media(min-width: $breakpoint-lg) {
    display:flex;
  }
  flex-direction:row;
  justify-content:space-around;
  padding:.25rem 0;
  border-bottom:solid 1px $gray-lighter;
  font-size:0.95rem;
  .pagination-group {
    .custom-select {
      margin-right:2rem;
    }
  }
  .input-group {
    display:flex;
    align-items: center;

    width:100%;
  }
  .form-group {
    label {
      margin-right:.5rem;
    }
  }
  .grid-nav-item {
    margin:0 .5rem;
    position:relative;
    a {
      color:$gray;
    }
    &:hover {
      a {
        transition: all 0.8s ease;
        color:black;
      }
    }
    &.active {
      a {
        border-bottom:solid 2px red;
        color:black;
      }
    }
  }
  .display-group {
    margin-left:auto;
    .form-group {
      margin-top:-4px;
      margin-right:0.5rem;
      border-right:solid 1px $gray-lighter;
      padding-right:0.5rem;
    }
    .page-item:last-child {
      margin-right:0;
    }
    .list-mode {
      li:last-child {
        position:relative;
        &:after {
          content:"";
          height:2rem;
          width:1px;
          position:absolute;
          left:-.6rem;
          top:-.25rem;
          background:$gray-lighter;
          transform:rotate(10deg);
        }
      }
    }
    margin-left:auto;
    display:block;
  }
  .type-group {
    margin-right:2rem;
    .form-group {
      margin-top:-4px;
      margin-right:0.5rem;
      border-right:solid 1px $gray-lighter;
      padding-right:0.5rem;
    }
    .page-item:last-child {
      margin-right:0;
    }
    .grid-type {
      li {
        position:relative;
        &:after {
          content:"";
          height:2rem;
          width:1px;
          position:absolute;
          left:-.6rem;
          top:-.25rem;
          background:$gray-lighter;
          transform:rotate(10deg);
        }
      }
      li:nth-of-type(1) {
        margin-left:0;
        &:after {
          display:none;
        }
      }
    }
    display:block;
  }
  &:last-child {
    border-top:solid 1px $gray-lighter;
    border-bottom:none;
  }
}
