{{> organisms-header }}
<main role="main">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-ml-12 col-xl-3 col-xl-p-right">
				{{>organisms-grid-filter}}
			</div>
			<div class="col-xs-12 col-ml-12 col-xl-9 col-xl-p-left">
			<h1 class="page-title">{{pageTitle}}</h1>
			{{# videoResults }}
				{{> organisms-section-media-list }}
			{{/ videoResults }}
		</div>
	</div>
	</div>
</main>
{{> organisms-footer }}
