
<div class="content-info">
  <div class="add-to-toolbox">
    {{#buttonAddToToolbox}}
      {{>atoms-text-button}}
    {{/buttonAddToToolbox}}
  </div>
  <p>
    {{infoDescription}}
  </p>
  <div class="content-info-attributes">
    {{# infoAttributes }}
      {{> molecules-info }}
    {{/ infoAttributes}}
  </div>
</div>
