	{{# sectionTitle}}
	<h2 class="c-section__title">{{ sectionTitle }}</h2>
	{{/ sectionTitle }}

	{{> molecules-pagination }}
	{{> organisms-media-list }}
	{{# pagination }}
	{{> molecules-pagination }}
	{{/ pagination }}

	{{# overlay }}
		{{> molecules-overlay }}
	{{/ overlay}}
