	{{# sectionTitle}}
	<h2 class="section-title">
		{{ sectionTitle }}
	</h2>
	{{/ sectionTitle }}

	{{> organisms-grid-nav }}
	{{> organisms-media-list }}
	{{> organisms-grid-nav }}

	{{# overlay }}
		{{> molecules-overlay }}
	{{/ overlay}}
