<div class="rating">
    <div class="rating-stars">
    {{#ratingStars}}
    <span class="rating-star {{class}}"></span>
    {{/ratingStars}}
  </div>
  <div class="rating-label hidden-sm-down">{{ratingLabel}}</div>
</div>
