<footer class="footer" role="contentinfo">

	<div class="container">
		{{> molecules-footer-nav }}
		<p class="copyright">&copy; {{ year }} {{ company.name }}. All rights reserved.  Part of the <a href="#">Rank Foundation</a></p>
	</div><!-- end l -->

</footer><!-- end c-footer -->
