<div class="partners-carousel">
	<div class="container">
		<div class="partners-carousel-header">
		<h3>Our Partners</h3>
		{{#partnersCarouselLink}}
		{{>atoms-text-button}}
		{{/partnersCarouselLink}}
	</div>
		{{#partnersCarousel}}
			{{> organisms-carousel }}
		{{/partnersCarousel}}
	</div>
</div>
<footer class="footer" role="contentinfo">

	<div class="container">
		<div class="footer-nav-container">
		{{> molecules-footer-nav }}
		<div class="footer-address">
			<strong>CTVC Ltd</strong><br/>
			First Floor<br/>
			McBeath House<br/>
			310 Goswell Road<br/>
			London EC1V 7LW
		</div>
	</div>
		<div class="footer-info"><div class="copyright">{{ year }} {{ company.name }}. All rights reserved.  Part of the <a href="#"> Rank Foundation</a></div>
			<div class="footer-produced-by">Produced by <a href="#"></a></div>
		</div>

	</div><!-- end l -->

</footer><!-- end c-footer -->

{{> organisms-login }}
