<div class="grid-nav">
	{{#showGridType}}
		{{>molecules-grid-type}}
	{{/showGridType}}

	{{#showGridPagination}}
		{{>molecules-pagination}}
	{{/showGridPagination}}

	{{#showGridSettings}}
		{{>molecules-grid-settings}}
	{{/showGridSettings}}

</div>
