<div class="display-group">
	<div class="input-group">
		<div class="form-inline">
			{{>molecules-checkbox}}
			<ol class="list-mode">
				{{# listMode }}
				<li class="page-item grid-nav-item {{class}}">
					{{>atoms-text-button}}
				</li>
				{{/ listMode }}
			</ol>
		</div>
	</div>
</div>
