<div class="type-group">
	<div class="input-group">
		<div class="form-inline">
			<ol class="grid-type">
				{{# gridType }}
				<li class="page-item grid-nav-item {{class}}">
					{{>atoms-text-button}}
				</li>
				{{/ gridType }}
			</ol>
		</div>
	</div>
</div>
