<nav id="nav" class="primary-nav">
  <div class="primary-nav__wrapper">
    {{# primaryNav }}
      <div class="primary-nav__item"><a href="{{ url }}" class="primary-nav__link {{class}}">{{ label }}</a></div>
    {{/ primaryNav }}
  </div>
    <div class="primary-nav__item primary-nav__account"><a href="{{ url }}" class="primary-nav__link {{class}}" data-toggle="modal" data-target="#modalLogin">login</a></div>
    <div class="primary-nav__item primary-nav__account"><a href="/patterns/03-pages-04-register/03-pages-04-register.html" class="primary-nav__link {{class}}">register</a></div>
		{{>molecules-search}}
</nav>
