<div class="video-header">
  {{#videoInfo}}
    {{>atoms-info}}
  {{/videoInfo}}
  {{>atoms-rating}}

  <div class="video-actions hidden-sm-down">
    {{#videoActions}}
      {{>atoms-text-button}}
    {{/videoActions}}
  </div>

</div>
<div class="video-embed-container">
  <div class="video-embed-form">
    <label>Use the following code to embed this video on your site or blog:</label>
    <div class="input-group">
      <input type="text" class="form-control" value="<iframe src='https://www.truetube.co.uk/embed/1970/700/395' width='700' height='395' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'></iframe>">
      <span class="input-group-btn">
        <button class="btn" type="button">Copy</button>
      </span>
    </div>
  </div>
</div>
