<div class="video-footer">
  {{#videoFooterInfo}}
    {{>atoms-info}}
  {{/videoFooterInfo}}

  <div class="video-share">
    <span class="share-title">{{videoShareTitle}}</span>
    {{#videoShare}}
      {{>atoms-text-button}}
    {{/videoShare}}
  </div>
</div>
