<div class="video-header">
  {{#videoInfo}}
    {{>atoms-info}}
  {{/videoInfo}}
  {{>atoms-rating}}

  <div class="video-actions hidden-sm-down">
    {{#videoActions}}
      {{>atoms-text-button}}
    {{/videoActions}}
  </div>

</div>
