{{> organisms-header }}
	<main role="main">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-ml-12 col-xl-12 m-t-1">
				{{>organisms-carousel}}
			</div>
				<div class="col-xs-12 col-ml-12 col-xl-9 col-xl-p-right">
					{{# latestContent }}
						{{> organisms-section-grid-load-more }}
					{{/ latestContent }}
				</div>
			<div class="col-xs-12 col-ml-12 col-xl-3 col-xl-p-left">
				{{> organisms-section-events-block }}
				{{> organisms-section-popular-block }}
			</div>
		</div>
		</div>
	</main>
{{> organisms-footer }}
