

<header class="c-header" role="banner">
	<div class="container">
		<div class="mobile-logo hidden-lg-up">
		{{> molecules-logo-link }}
	</div>
	<div class="mobile-nav__search"><a href="{{ url }}" class="mobile-nav__burger_search">{{ label }}</a></div>
	<div class="mobile-nav__burger"><a href="{{ url }}" class="mobile-nav__burger_link">{{ label }}</a></div>

	</div>
	<div class="menu-mobile">
	<div class="container">
		<div class="mobile-logo hidden-lg-up">
			<a href="/patterns/03-pages-00-homepage/03-pages-00-homepage.html" class="c-logo-link">
			 <img src="../../images/true-tube-logo_white.svg" class="logo c-logo-link__img" alt="True Tube">
		  </a>
		</div>
		<div class="mobile-logo hidden-md-down">
			<a href="/patterns/03-pages-00-homepage/03-pages-00-homepage.html" class="c-logo-link">
			 <img src="../../images/true-tube-logo_black.svg" class="logo c-logo-link__img" alt="True Tube">
			</a>
		</div>
		{{> molecules-primary-nav }}
</div>
{{> molecules-secondary-nav }}

<div class="mobile-nav__close"><a href="{{ url }}">{{ label }}</a></div>

</div>

</header><!-- end c-header -->
{{> molecules-call-to-action }}
