

<header class="c-header" role="banner">
	{{> molecules-call-to-action }}
	<div class="container">
		<div class="mobile-logo hidden-xl-up">
		{{> molecules-logo-link }}
		<!-- {{> molecules-burger-menu}} -->
	</div>
	<div class="mobile-nav__search"><a href="{{ url }}">{{ label }}</a></div>
	<div class="mobile-nav__burger"><a href="{{ url }}" class="mobile-nav__burger_link">{{ label }}</a></div>

	</div>
	<div class="menu-mobile">
	<div class="container">
	{{> molecules-logo-link }}

		{{> molecules-primary-nav }}
</div>
{{> molecules-secondary-nav }}
<div class="mobile-nav__close"><a href="{{ url }}">{{ label }}</a></div>

</div>

</header><!-- end c-header -->
