<div class="callToAction">
  <div class="container">
	<div class="callToAction__copy">{{ callToActionMessage }}
    <a href="#" class="callToAction__link">{{ callToActionLink}}</a>
  </div>
  <div class="callToAction__nav">
  <button href="#" class="btn btn-login">{{ loginText}}</button>
</div>
</div>
</div>
