<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #E84524;"></span>
		<span class="sg-label">
			$color-brand-red <br />
			#E84524
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FBE407;"></span>
		<span class="sg-label">
			$color-brand-yellow <br />
			#FBE407
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #262625;"></span>
		<span class="sg-label">
			$color-brand-gray <br />
			#262625
		</span>
	</li>
</ul>
