<a href="{{ url }}" class="block-media__link {{ styleModifier }}">
	<div class="block-media__media">
	{{> atoms-landscape:c-block-media__img }}
	{{> atoms-time}}
</div>
<h6 class="block-media__headline">{{ headline.short }}</h6></a>
<div class="block-media__body">
		<p class="block-media__description small">{{ description.medium }}</p>
		<div class="block-media__categories">
			{{# categoryList }}
				{{> atoms-button}}
			{{/ categoryList }}
		</div>
	</div>
