<div class="form-group">
  <input id="text" type="text" type="{{textFieldType}}" value="{{textFieldValue}}" class="form-control" placeholder="{{ textFieldPlaceholder }}" {{ textFieldRequired }}>
</div>
