<div class="btn-group">
  <input id="text" type="text" class="form-control" placeholder="{{ textFieldPlaceholder }}">
  <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
</div>
