  <select id="select" class="custom-select form-control" >
    <optgroup label="Select">
      <option>All</option>
      <option>Option Two</option>
      <option>Option Three</option>
    </optgroup>
  </select>
