{{#popularBlock}}
  <div class="popular-block">
      <h3 class="section-title">
        {{ title }}
      </h3>
      {{> organisms-popular-list }}
        {{> atoms-text-button }}
  </div>
{{/popularBlock}}
